apiVersion: v1
kind: ConfigMap
metadata:
  name: kong-config
  namespace: cinemaabyss
data:
  kong.yml: |
    _format_version: "3.0"

    upstreams:
      - name: movies-upstream
        targets:
          - target: monolith:8080
            weight: 70
          - target: movies-service:8081
            weight: 30

    services:
      - name: monolith
        url: http://monolith:8080
        routes:
          - name: monolith-route
            strip_path: false
            paths:
              - /api/users
              - /api/subscriptions
              - /api/payments

      # Movies health-check (обходит балансировку)
      - name: movies-health
        url: http://movies-service:8081
        routes:
          - name: movies-health-route
            strip_path: false
            paths:
              - /api/movies/health

      - name: movies
        host: movies-upstream   # используем upstream
        routes:
          - name: movies-route
            strip_path: false
            paths:
              - /api/movies

      # Kong health (возвращает 200 прямо из Kong)
      - name: kong-health
        url: http://example.com   # фиктивный, не используется
        routes:
          - name: kong-health-route
            paths:
              - /health
        plugins:
          - name: request-termination
            config:
              status_code: 200
              content_type: application/json
              body: '{"status":"Strangler Fig Proxy is healthy"}'

      - name: swagger-ui
        url: http://swagger-ui:8080
        routes:
          - name: swagger-ui-route
            strip_path: false
            paths:
              - /docs


    plugins:
      - name: cors
        config:
          origins:
            - "*"
          methods:
            - GET
            - POST
            - PUT
            - DELETE
            - PATCH
            - OPTIONS
          headers:
            - Accept
            - Authorization
            - Content-Type
          credentials: true
          max_age: 3600