_format_version: "3.0"

upstreams:
  - name: movies-upstream
    targets:
      - target: monolith:8080
        weight: 100
      - target: movies-service:8081
        weight: 0

services:
  - name: monolith
    url: http://monolith:8080
    routes:
      - name: monolith-route
        strip_path: false
        paths:
          - /api/users
          - /api/subscriptions
          - /api/payments

  - name: movies-health
    url: http://movies-service:8081
    routes:
      - name: movies-health-route
        strip_path: false
        paths:
          - /api/movies/health

  - name: movies
    host: movies-upstream
    routes:
      - name: movies-route
        strip_path: false
        paths:
          - /api/movies

  - name: kong-health
    url: http://localhost
    routes:
      - name: kong-health-route
        paths:
          - /health
    plugins:
      - name: request-termination
        config:
          status_code: 200
          content_type: application/json
          body: '{"status":"Strangler Fig Proxy is healthy"}'

plugins:
  - name: cors
    config:
      origins:
        - "*"
      methods:
        - GET
        - POST
        - PUT
        - DELETE
        - PATCH
        - OPTIONS
      headers:
        - Accept
        - Authorization
        - Content-Type
      credentials: true
      max_age: 3600
